/node_modules
/public/hot
/public/storage
/public/foto
/public/accounting_files
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
/nbproject
composer.lock
/vendor_2
/public/purchases_files/*
/public/accounting_files/* 
/public/inventories_files/* 
/public/setup_files/*
/public/boletas
/.DS_Store
/._.DS_Store
/data_lamb_financial/*

